.dash-container {
  padding-left: 1rem;
  padding-bottom: 5rem;
  width: 95%;
}

.dash-results {
  padding: 1rem;
}

.card-caption {
  color: black;
}

.modal-backdrop {
  background-color: rgba(61, 61, 61, 0.233) !important;
}