#light {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #ffffff;
}

#dark {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #312f31;
}

.App {
  position: relative;
  overflow: hidden;
}

.home-app {
  display: flex;
  margin: 10px;
}

.switch {
  float: left;
  padding-top: 1rem;
  padding-left: 1rem;
  justify-content: right;
  align-items: right;
}

.switch-label {
  margin-bottom: 1rem;
}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}

