#light {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
}

#dark {
  width: 100vw;
  min-height: 100vh;
  background-color: #312f31;
}

.App {
  position: relative;
}

.switch {
  display: flex;
  width: 95vw;
  height: 95px;
  justify-content: center;
  align-items: center;
}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}
