.home-container {
  position: relative;
  padding-bottom: 125rem;
}


#light .content-welcome {
  color: black;
  width: 40%;
  margin: 0 auto;
}
#dark .content-welcome {
  color: white;
  width: 40%;
  margin: 0 auto;
}

#light .content-info {
  color: black;
  width: 40%;
  margin: 0 auto;
}
#dark .content-info {
  color: white;
  width: 40%;
  margin: 0 auto;
}

#light .content-code {
  color: black;
  width: 40%;
  margin: 0 auto;
}
#dark .content-code {
  color: white;
  width: 40%;
  margin: 0 auto;
}
